/*NAVBAR*/
.navbar, navbar-brand{
	height: 70px;
}
.navbar img{
	height: 70px;
}

/*END OF NAVBAR*/

/*BREADCRUMB*/
#breadcrumb, #navbar{
	position: fixed;
}
#breadcrumb{
	top:70px;
	left: 250px;
}

/*SIDEBAR

#sidebar{
	height: calc(100vh - 3rem)
}
*/

/*END OF SIDEBAR*/

#pagination{
	margin-bottom: 1rem;
}

/*mdp oublié*/
#mdpoublie{
	background-color: white;
	color:#007bff;
}

.invalid-feedback-server{
	display: none;;
}

/*SEARCH RESULT*/
.searchResults{
	margin-top: 150px;
	margin-left: 250px;
	margin-bottom: 40px;
	border: 1px solid red;
}
.searchResults article{
	border: 1px solid black;
	height: 200px;;
}
.img-fluid{
	height:inherit;
}
