/*NAVBAR*/
.navbar, navbar-brand{
	height: 70px;
}
.navbar img{
	height: 70px;
}
/*END OF NAVBAR*/

/*SIDEBAR*/
#sidebar{
	height: calc(100vh - 3rem)
}
.breadcrumb{
	margin-bottom: 0px;
}
/*END OF SIDEBAR*/

#pagination{
	margin-bottom: 1rem;
}
main{
		margin-top:70px;
}
/*mdp oublié*/
#mdpoublie{
	background-color: white;
	color:#007bff;
}

.invalid-feedback-server{
	display: none;;
}

.block-gdggdgdgd
{
	
}
